<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>프로젝트1</title>
  <script>
      var selectAry = new Array();


      function getSelectValue(){
        var sel = document.getElementById("range");
        var val = sel.options[range.selectedIndex].value;
        var select = "";

        if (val == "default"){
           range_select.innerHTML = "";
           return;
        } else if (val == "department"){
           var arr = new Array(3);
           arr[0] = "<OPTION value=\"Research\">" + "Research" + "</OPTION>";
           arr[1] = "<OPTION value=\"Administration\">" + "Administration" + "</OPTION>";
           arr[2] = "<OPTION value=\"Headquarters\">" + "Headquarters" + "</OPTION>";
           range_select.innerHTML = "<SELECT ID='departSelect' NAME='input_search'>" + arr.join() + "</SELECT>";
           return;
        }else if (val == "sex"){
           var arr = new Array(3);
           arr[0] = "<OPTION value=\"M\">" + "M" + "</OPTION>";
           arr[1] = "<OPTION value=\"F\">" + "F" + "</OPTION>";
           range_select.innerHTML = "<SELECT ID='sexSelect' NAME='input_search'>" + arr.join() + "</SELECT>";
           return;
        }else if (val == "salary"){
           range_select.innerHTML = "<INPUT TYPE='text' ID='salarySelect' NAME='input_search'>"
           return;
        }else if (val == "birth"){
           var arr = new Array(12);
           for (var i=1; i <13; i++){
              arr[i] = '<OPTION value='+ i + '>' + i+'</OPTION>';
           }
           range_select.innerHTML = "<SELECT ID='birthSelect' NAME='input_search'>" + arr.join() + "</SELECT>";
           return;
        }else if (val == "employee"){
           range_select.innerHTML = "<INPUT TYPE='text' ID='employee' NAME='input_search'>"
           return;
        }

      }

      function getCheckboxValue(event)  {
        let result = '';
        if(event.target.checked)  {
          selectAry.push(event.target.value);
        }else {
          selectAry.splice(selectAry.indexOf(event.target.value),1);
        }
        for (let i=0; i < selectAry.length; i++){
          result += (i+1)+ '.' + selectAry[i]+' ';
        }
        document.getElementById('select_name').innerText = result;
    }

  </script>
</head>
<body>
  <form action="/api2" method="post" id = "sendSql">
    <a> 검색 범위 </a>
    <div>
      <select name = "range" id="range" onchange="getSelectValue()">
        <option value="default">전체</option>
        <option value="department">부서</option>
        <option value="sex">성별</option>
        <option value="salary">연봉</option>
        <option value="birth">생일</option>
        <option value="employee">부하직원</option>
      </select>
      <a id="range_select"></a>
    </div>

    <a> 검색 항목</a>
    <label><input type="checkbox" name="name" value="name" checked> Name</label>
    <label><input type="checkbox" name="ssn" value="ssn" checked> Ssn</label>
    <label><input type="checkbox" name="Bdate" value="Bdate" checked> Bdate</label>
    <label><input type="checkbox" name="Address" value="Address" checked> Address</label>
    <label><input type="checkbox" name="Sex" value="Sex"checked> Sex</label>
    <label><input type="checkbox" name="Salary" value="Salary" checked> Salary</label>
    <label><input type="checkbox" name="Supervisor" value="Supervisor"checked> Supervisor</label>
    <label><input type="checkbox" name="Department" value="Department"checked> Department</label>
    <button type="submit" form="sendSql">제출하기</button>
  </form>
</body>
</html>