<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로젝트1</title>
    <style>
          table {
              width: 100%;
              border: 1px solid #444444;
              text-align: center;
          }
          th, td {
              border: 1px solid #444444;
          }
    </style>
  <script>
      var selectAry = new Array();


      function getSelectValue(){
        var sel = document.getElementById("range");
        var val = sel.options[range.selectedIndex].value;
        var select = "";

        if (val == "default"){
           range_select.innerHTML = "";
           return;
        } else if (val == "department"){
           var arr = new Array(3);
           arr[0] = "<OPTION value=\"Research\">" + "Research" + "</OPTION>";
           arr[1] = "<OPTION value=\"Administration\">" + "Administration" + "</OPTION>";
           arr[2] = "<OPTION value=\"Headquarters\">" + "Headquarters" + "</OPTION>";
           range_select.innerHTML = "<SELECT ID='departSelect' NAME='input_search'>" + arr.join() + "</SELECT>";
           return;
        }else if (val == "sex"){
           var arr = new Array(3);
           arr[0] = "<OPTION value=\"M\">" + "M" + "</OPTION>";
           arr[1] = "<OPTION value=\"F\">" + "F" + "</OPTION>";
           range_select.innerHTML = "<SELECT ID='sexSelect' NAME='input_search'>" + arr.join() + "</SELECT>";
           return;
        }else if (val == "salary"){
           range_select.innerHTML = "<INPUT TYPE='text' ID='salarySelect' NAME='input_search'>"
           return;
        }else if (val == "birth"){
           var arr = new Array(12);
           for (var i=0; i <12; i++){
              arr[i] = '<OPTION value='+ i + '>' + i+'</OPTION>';
           }
           range_select.innerHTML = "<SELECT ID='birthSelect' NAME='input_search'>" + arr.join() + "</SELECT>";
           return;
        }else if (val == "employee"){
           range_select.innerHTML = "<INPUT TYPE='text' ID='employee' NAME='input_search'>"
           return;
        }

      }

      function getCheckboxValue(event)  {
        let result = '';
        if(event.target.checked)  {
          selectAry.push(event.target.value);
        }else {
          selectAry.splice(selectAry.indexOf(event.target.value),1);
        }
        for (let i=0; i < selectAry.length; i++){
          result += (i+1)+ '.' + selectAry[i]+' ';
        }
        document.getElementById('select_name').innerText = result;
    }

  </script>
</head>
<body>
  <form action="/api2" method="post" id = "sendSql">
    <a> 검색 범위 </a>
    <div>
      <select name = "range" id="range" onchange="getSelectValue()">
        <option value="default">전체</option>
        <option value="department">부서</option>
        <option value="sex">성별</option>
        <option value="salary">연봉</option>
        <option value="birth">생일</option>
        <option value="employee">부하직원</option>
      </select>
      <a id="range_select"></a>
    </div>

    <a> 검색 항목</a>
    <label th:if="${search.name} == 'name'"><input type="checkbox" name="name" value="name" checked> Name</label>
    <label th:unless="${search.name} == 'name'"><input type="checkbox" name="name" value="name" > Name</label>

    <label th:if="${search.ssn} == 'ssn'"><input type="checkbox" name="ssn" value="ssn" checked> Ssn</label>
    <label th:unless="${search.ssn} == 'ssn'"><input type="checkbox" name="ssn" value="ssn"> Ssn</label>

    <label th:if="${search.Bdate} == 'Bdate'"><input type="checkbox" name="Bdate" value="Bdate" checked> Bdate</label>
    <label th:unless="${search.Bdate} == 'Bdate'"><input type="checkbox" name="Bdate" value="Bdate" > Bdate</label>


    <label th:if="${search.Address} == 'Address'"><input type="checkbox" name="Address" value="Address" checked> Address</label>
    <label th:unless="${search.Address} == 'Address'"><input type="checkbox" name="Address" value="Address"> Address</label>


    <label th:if="${search.Sex} == 'Sex'"><input type="checkbox" name="Sex" value="Sex" checked> Sex</label>
    <label th:unless="${search.Sex} == 'Sex'"><input type="checkbox" name="Sex" value="Sex"> Sex</label>


    <label th:if="${search.Salary} == 'Salary'"><input type="checkbox" name="Salary" value="Salary" checked> Salary</label>
    <label th:unless="${search.Salary} == 'Salary'"><input type="checkbox" name="Salary" value="Salary"> Salary</label>

    <label th:if ="${search.Supervisor} == 'Supervisor'"><input type="checkbox" name="Supervisor" value="Supervisor" checked> Supervisor</label>
    <label th:unless ="${search.Supervisor} == 'Supervisor'"><input type="checkbox" name="Supervisor" value="Supervisor"> Supervisor</label>

    <label th:if ="${search.Department} == 'Department'"><input type="checkbox" name="Department" value="Department" checked> Department</label>
    <label th:unless ="${search.Department} == 'Department'"><input type="checkbox" name="Department" value="Department"> Department</label>

    <button type="submit" form="sendSql">제출하기</button>
  </form>
  <br>
  <table>
    <tr>
      <th>선택</th>
      <th th:if="${search.name} == 'name'">Name</th>
      <th th:if="${search.ssn} == 'ssn'">Ssn</th>
      <th th:if="${search.Bdate} == 'Bdate'">Bdate</th>
      <th th:if="${search.Address} == 'Address'">Address</th>
      <th th:if="${search.Sex} == 'Sex'">Sex</th>
      <th th:if="${search.Salary} == 'Salary'">Salary</th>
      <th th:if="${search.Supervisor} == 'Supervisor'">Supervisor</th>
      <th th:if="${search.Department} == 'Department'">Department</th>
    </tr>
    <tr th:each="event , index: ${events}">
      <td><input type="checkbox" name="choice"  onclick="getCheckboxValue(event)" th:value="${event.name}"></td>
      <td th:if="${search.name} == 'name'" th:text="${event.Name}">Name</td>
      <td th:if="${search.ssn} == 'ssn'" th:text="${event.Ssn}">Ssn</td>
      <td th:if="${search.Bdate} == 'Bdate'" th:text="${event.Bdate}">Bdate</td>
      <td th:if="${search.Address} == 'Address'" th:text="${event.Address}"> Address</td>
      <td th:if="${search.Sex} == 'Sex'" th:text="${event.sex}">Sex</td>
      <td th:if="${search.Salary} == 'Salary'" th:text="${event.Salary}">Salary</td>
      <td th:if="${search.Supervisor} == 'Supervisor'" th:text="${event.Super_Name}">Supervisor</td>
      <td th:if="${search.Department} == 'Department'" th:text="${event.Dno}">Department<</td>
    </tr>
  </table>
  <a>선택된 직원:</a>
  <a id='select_name'></a>
  <br>
  <a>인원수:</a>
  <a th:text="${events_size}"></a>

  <div align="center" >
    <a>수정:</a>
    <select name = "range">
      <option value="address">주소</option>
      <option value="sex">성별</option>
      <option value="salary">연봉</option>
    </select>

    <input type = "text" id="input_update" name = "input_search">
    <button type="submit" form="sendSql">UPDATE</button>
    <button  type="submit" form="sendSql" style="float: right;">선택된 데이터 삭제</button>
  </div>

</body>
</html>