<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>프로젝트1</title>
  <style>
          .container p{
            width: 100px;
            margin: 0;
            font-weight: bold;
        }
        .a {
            display: flex;
        }
        .title{
            margin-left: 40px;
            font-weight: bold;
            font-size: large;
        }
        .add-btn{
            margin-left: 100px;
            margin-top: 10px;
        }
        .under-section{
          display: flex;
          justify-content: space-around;
          margin: auto;
          align-items: center;
          width : 100%;
        }
        .dependent-tb{
          width: 300px;
          border: 1px solid #444444;
          text-align: center;
        }
          table {
              width: 100%;
              border: 1px solid #444444;
              text-align: center;
          }
          th, td {
              border: 1px solid #444444;
          }

    </style>
  <script>
      var selectAry = new Array();
      var userAry = [];
      function getSelectValue(){
        var sel = document.getElementById("range");
        var val = sel.options[range.selectedIndex].value;
        var select = "";

        if (val == "default"){
           range_select.innerHTML = "";
           return;
        } else if (val == "Dname"){
           var arr = new Array(3);
           arr[0] = "<OPTION value=\"Research\">" + "Research" + "</OPTION>";
           arr[1] = "<OPTION value=\"Administration\">" + "Administration" + "</OPTION>";
           arr[2] = "<OPTION value=\"Headquarters\">" + "Headquarters" + "</OPTION>";
           range_select.innerHTML = "<SELECT ID='departSelect' NAME='input_search'>" + arr.join() + "</SELECT>";
           return;
        }else if (val == "sex"){
           var arr = new Array(3);
           arr[0] = "<OPTION value=\"M\">" + "M" + "</OPTION>";
           arr[1] = "<OPTION value=\"F\">" + "F" + "</OPTION>";
           range_select.innerHTML = "<SELECT ID='sexSelect' NAME='input_search'>" + arr.join() + "</SELECT>";
           return;
        }else if (val == "salary"){
           range_select.innerHTML = "<INPUT TYPE='text' ID='salarySelect' NAME='input_search'>"
           return;
        }else if (val == "bdate"){
           var arr = new Array(12);
           for (var i=1; i <13; i++){
              if (i <10){
                arr[i] = '<OPTION value=0'+ i + '>' + i+'</OPTION>';
              }else{
                arr[i] = '<OPTION value='+ i + '>' + i+'</OPTION>';
              }
           }
           range_select.innerHTML = "<SELECT ID='birthSelect' NAME='input_search'>" + arr.join() + "</SELECT>";
           return;
        }else if (val == "employee"){
           range_select.innerHTML = "<INPUT TYPE='text' ID='employee' NAME='input_search'>"
           return;
        }
      }

      function getSelectUpdateValue(){
        var sel = document.getElementById("update");
        var val = sel.options[update.selectedIndex].value;
        var select = "";

        if(val == "default"){
          update_select.innerHTML = "";
        }
        else if (val == "address"){
           update_select.innerHTML = "<INPUT TYPE='text' ID='address_update' NAME='update_search'>";
        }else if (val == "sex"){
           var arr = new Array(2);
           arr[0] = "<OPTION value=\"M\">" + "M" + "</OPTION>";
           arr[1] = "<OPTION value=\"F\">" + "F" + "</OPTION>";
           update_select.innerHTML = "<SELECT ID='sex_update' NAME='update_search'>" + arr.join() + "</SELECT>";
        }else if (val == "salary"){
           update_select.innerHTML = "<INPUT TYPE='text' ID='salary_update' NAME='update_search'>";
        }
      }

      function getCheckboxValue(event)  {
        let result = '';
        let result2 = '';
        let name = event.target.value.split(',');
        var arr = new Array();

        if(event.target.checked)  {
          selectAry.push(name[0]);
          userAry.push(name[1]);
        }else {
          selectAry.splice(selectAry.indexOf(name[0]),1);
          userAry.splice(selectAry.indexOf(name[1]),1);
        }
        for (let i=0; i < selectAry.length; i++){
          result += (i+1)+ '.' + selectAry[i]+' ';
        }
        document.getElementById('select_name').innerText = result;

        for (let i=0; i < userAry.length; i++){
          result2 += userAry[i] + ' ';
        }

        document.getElementById('update_user').innerHTML = "<INPUT TYPE='text' ID = 'ssn_select' NAME='ssn' style = 'display: none;' value = '"+ result2 + "'>";
        document.getElementById('update_user2').innerHTML = "<INPUT TYPE='text' ID = 'ssn_select' NAME='ssn' style = 'display: none;' value = '"+ result2 + "'>";
        document.getElementById('update_user3').innerHTML = "<INPUT TYPE='text' ID = 'ssn_select' NAME='ssn' style = 'display: none;' value = '"+ result2 + "'>";

      }


  </script>
</head>
<body>
<form action="/api2" method="post" id = "sendSql">
  <a> 검색 범위 </a>
  <div>
    <select name = "range" id="range" onchange="getSelectValue()">
      <option value="default">전체</option>
      <option value="Dname">부서</option>
      <option value="sex">성별</option>
      <option value="salary">연봉</option>
      <option value="bdate">생일</option>
      <option value="employee">부하직원</option>
    </select>
    <a id="range_select"></a>
  </div>

  <a> 검색 항목</a>
  <label th:if="${search.name} == 'name'"><input type="checkbox" name="name" value="name" checked> Name</label>
  <label th:unless="${search.name} == 'name'"><input type="checkbox" name="name" value="name" > Name</label>

  <label th:if="${search.ssn} == 'ssn'"><input type="checkbox" name="ssn" value="ssn" checked> Ssn</label>
  <label th:unless="${search.ssn} == 'ssn'"><input type="checkbox" name="ssn" value="ssn"> Ssn</label>

  <label th:if="${search.Bdate} == 'Bdate'"><input type="checkbox" name="Bdate" value="Bdate" checked> Bdate</label>
  <label th:unless="${search.Bdate} == 'Bdate'"><input type="checkbox" name="Bdate" value="Bdate" > Bdate</label>


  <label th:if="${search.Address} == 'Address'"><input type="checkbox" name="Address" value="Address" checked> Address</label>
  <label th:unless="${search.Address} == 'Address'"><input type="checkbox" name="Address" value="Address"> Address</label>


  <label th:if="${search.Sex} == 'Sex'"><input type="checkbox" name="Sex" value="Sex" checked> Sex</label>
  <label th:unless="${search.Sex} == 'Sex'"><input type="checkbox" name="Sex" value="Sex"> Sex</label>


  <label th:if="${search.Salary} == 'Salary'"><input type="checkbox" name="Salary" value="Salary" checked> Salary</label>
  <label th:unless="${search.Salary} == 'Salary'"><input type="checkbox" name="Salary" value="Salary"> Salary</label>

  <label th:if ="${search.Supervisor} == 'Supervisor'"><input type="checkbox" name="Supervisor" value="Supervisor" checked> Supervisor</label>
  <label th:unless ="${search.Supervisor} == 'Supervisor'"><input type="checkbox" name="Supervisor" value="Supervisor"> Supervisor</label>

  <label th:if ="${search.Department} == 'Department'"><input type="checkbox" name="Department" value="Department" checked> Department</label>
  <label th:unless ="${search.Department} == 'Department'"><input type="checkbox" name="Department" value="Department"> Department</label>

  <button type="submit" form="sendSql">제출하기</button>
</form>
<br>
<table>
  <tr>
    <th>선택</th>
    <th th:if="${search.name} == 'name'">Name</th>
    <th th:if="${search.ssn} == 'ssn'">Ssn</th>
    <th th:if="${search.Bdate} == 'Bdate'">Bdate</th>
    <th th:if="${search.Address} == 'Address'">Address</th>
    <th th:if="${search.Sex} == 'Sex'">Sex</th>
    <th th:if="${search.Salary} == 'Salary'">Salary</th>
    <th th:if="${search.Supervisor} == 'Supervisor'">Supervisor</th>
    <th th:if="${search.Department} == 'Department'">Department</th>
  </tr>

  <tr th:each="event , index: ${events}">
    <td><input type="checkbox" name="choice"  onclick="getCheckboxValue(event)" th:value="${event.name} + ',' + ${event.ssn}"></td>
    <td th:if="${search.name} == 'name'" th:text="${event.Name}">Name</td>
    <td th:if="${search.ssn} == 'ssn'" th:text="${event.Ssn}">Ssn</td>
    <td th:if="${search.Bdate} == 'Bdate'" th:text="${event.Bdate}">Bdate</td>
    <td th:if="${search.Address} == 'Address'" th:text="${event.Address}"> Address</td>
    <td th:if="${search.Sex} == 'Sex'" th:text="${event.sex}">Sex</td>
    <td th:if="${search.Salary} == 'Salary'" th:text="${event.Salary}">Salary</td>
    <td th:if="${search.Supervisor} == 'Supervisor'" th:text="${event.Super_Name}">Supervisor</td>
    <td th:if="${search.Department} == 'Department'" th:text="${event.Dno}">Department</td>
  </tr>
</table>
<a>선택된 직원:</a>
<a id='select_name'></a>
<br>
<a>인원수:</a>
<a th:text="${events_size}"></a>

<form action="/api5" class ="update-form" method="post" id="updateSqlIn">
  <div align="center" >
    <select name = "update" id="update" onchange="getSelectUpdateValue()">
      <option value="default">선택</option>
      <option value="address">주소</option>
      <option value="sex">성별</option>
      <option value="salary">연봉</option>
    </select>
    <a id="update_select"></a>
    <a id="update_user"></a>
    <button type="submit" form="updateSqlIn">UPDATE</button>
  </div>
</form>

<form action="/api4" class ="update-form" method="post" id="delSqlIn">
  <a id="update_user2"></a>
  <button type="submit" form="delSqlIn" style="float: right;">선택된 데이터 삭제</button>
</form>

<div class="under-section">
  <form action="/api3" class="insert-form" method="post" id ="sendSqlIn">
    <p class="title">새로운 직원 정보 추가</p>
    <div class="container">

      <div class="a">
        <p>First Name: </p>
        <input type="text" name="fname" >
      </div>
      <div class="a">
        <p>Middle Init.: </p>
        <input type="text" name="minit" >
      </div>
      <div class="a">
        <p>Last Name:</p>
        <input type="text" name="lname" >
      </div>
      <div class="a">
        <p>Ssn:</p>
        <input type="text" name="ssn" >
      </div>
      <div class="a">
        <p>Birthdate:</p>
        <input type="text" name="bdate" >
      </div>
      <div class="a">
        <p>Address:</p>
        <input type="text" name="address" >
      </div>

      <div class="a">
        <p>Sex:</p>
        <select id="" name="sex">
          <option value="M">M</option>
          <option value="F">F</option>
        </select>
      </div>

      <div class="a">
        <p>Salary:</p>
        <input type="text" name="salary" >
      </div>
      <div class="a">
        <p>Super_ssn:</p>
        <input type="text" name="super_ssn" >
      </div>
      <div class="a">
        <p>Dno:</p>
        <input type="text" name="dno" >
      </div>

      <button class="add-btn" type="submit" form="sendSqlIn">정보 추가하기</button>
    </div>
  </form>




  <!-- 부서별 월급 일괄수정 -->
  <form action="/api6" class="salary-form" method="post" id ="sendSqlsalary">
    <p class="title">부서별 월급 일괄수정</p>
    <div class="container">
      <div style ='width: 300px;' >
        <p>Department: </p>
        <div style='padding-left: 20px;'>
          <select id="dno" name="dno">
            <option value="5">Research</option>
            <option value="4">Administration</option>
            <option value="1">Headquarters</option>
          </select>
        </div>
      </div>
      <div style ='width: 300px;  margin-top: 10px'>
        <p> 월급 수정</p>
        <div style='padding-left: 20px;'>
          <select id='arithmetic' name="arithmetic">
            <option value='+'> + </option>
            <option value='-'> - </option>
            <option value='*'> X </option>
            <option value='/'> / </option>
          </select>
          <input type="text" id= 'salary' name="salary" > </input>
        </div>

      </div>
    </div>
    <div style='padding-left: 40px;'>
      <button class="add-btn"  type="submit" form="sendSqlsalary">월급 일괄 수정하기</button>
    </div>
  </form>
</div>

<div>
  <form action="/api7" class="dependent-form" id ="sendSqlDependent"method="post">
    <p class="title">직원별 가족 모두 출력</p>
    <a id="update_user3"></a>
    <button type="submit" form="sendSqlDependent">출력 보기</button>
    <br><br>
    <table class="dependent-tb">
      <tr>

        <th >Name</th>
        <th >Dependent</th>
        <th >Sex</th>
        <th >Bdate</th>
        <th >Relationship</th>
      </tr>

      <tr th:each="event , index: ${dependents}">
        <td th:text="${event.Name}">Name</td>
        <td th:text="${event.Dependent_name}">Dependent</td>
        <td th:text="${event.Sex}">Sex</td>
        <td th:text="${event.Bdate}"> Bdate</td>
        <td th:text="${event.Relationship}">Relationship</td>
      </tr>
    </table>
  </form>


</div>


</body>
</html>